* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


:root {
   --blue: #0000fffd;
   --blue2: #1f59a5c1;
   --lightBlue: #add8e6;
   --darkBlue: #2237c15f;
   --white: #ffffff;
   --babyBlue: #add8e6;
   --babyBlue2: #2bd6e2c8;

}


body {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  background-color: var(--lightBlue);
}


.foto {
  height: 250px;
  width: 300px;
}

.sobreposição {
  height: 250px;
  width: 300px;
  background-color: var(--darkBlue);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: absolute;
  z-index: 1;
  transition: 2s;
  cursor: pointer;
}

.sobreposição:hover {
  background-color: transparent;
}

.foto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
}

.textos {
  height: 600px;
  width: 300px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: var(--blue2);
  ;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.textos h1,
.textos h3 {
  color: var(--white);
  font-weight: 900;
  font-family: 'Abril Fatface', cursive;
}

.textos p {
  font-size: 15px;
  font-family: 'Arima', cursive;
}

.textos ul li {
  list-style: inside;
  font-size: 15px;
  font-family: 'Arima', cursive;
}

.textos form {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: 5px;
}

.textos form input {
  height: 25px;
  border-radius: 8px;
  border: none;
  padding: 0px 10px
}

.textos form input::placeholder {
  font-size: 12px;
  color: var(--blue);
}

.textos form input:focus {
  background-color: var(--babyBlue);
  box-shadow: 1px 1px 10px 2px var(--babyBlue2);
}

.textos form button {
  height: 25px;
  border-radius: 8px;
  border: none;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.textos form button:hover {
  background-color: var(--white);
  color: var(--blue);
  border: 2px solid var(--blue);
  transition: 1s;
}

@media screen and (max-width: 800px) {
  .card-duplo {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "foto" "textos";
  }

  body {
    padding: 100px 20px;
  }

  .foto {
    width: 100%;
    height: 40%;
    border-top-left-radius: 25px;
  }

  .foto {

    border-top-right-radius: 100px;
    border-bottom-left-radius: 0;
  }

  .sobreposição {
    display: none;
  }

  .textos {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 52px;
  }

  .textos p,
  .textos ul li {
    font-size: 20px;
  }

  .textos form input,
  .textos form button {
    width: 100%;

  }

}
